name: Lint Ansible
on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out codebase
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install ansible-lint

      - name: Lint using yamllint
        run: yamllint .

      - name: Lint using ansible-lint
        run: ansible-lint .
